<!-- hero banner -->
{% if DUKAAN_WEB_BANNERS.length %}
<!-- desktop banners -->
<section class="d-none d-lg-block p-0">
    <div class="top-banner-section">
        <section id="hero-splide" class="splide">
            <div class="splide__arrows splide__arrows--ltr">
                <button class="splide__arrow bg-white px-12-0 py-3 splide__arrow--prev" style="border-radius: 50%;
                       border: 1px solid #E5E5E5;
                       box-shadow: 0px 4px 20px rgba(26, 24, 30, 0.16);
                       width: 40px;
                       height: 40px;
                       opacity: 1" type="button" aria-label="Previous slide" aria-controls="splide-top-card-track">
                    <svg width="25" height="14" viewBox="0 0 25 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M24 7C24 7.55229 23.5523 8 23 8L1 8C0.447716 8 -1.44847e-07 7.55228 0 7C1.44847e-07 6.44771 0.447716 6 1 6L23 6C23.5523 6 24 6.44772 24 7Z"
                            fill="#1A181E" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M16.7939 13.7071C17.1844 14.0976 17.8176 14.0976 18.2081 13.7071L24.2081 7.70711C24.5986 7.31658 24.5986 6.68342 24.2081 6.29289L18.2081 0.292893C17.8176 -0.0976309 17.1844 -0.0976311 16.7939 0.292893C16.4033 0.683418 16.4033 1.31658 16.7939 1.70711L22.0868 7L16.7939 12.2929C16.4033 12.6834 16.4033 13.3166 16.7939 13.7071Z"
                            fill="#1A181E" />
                    </svg>
                </button>
                <button class="splide__arrow bg-white px-12-0 py-3 splide__arrow--next" style="border-radius: 50%;
                       border: 1px solid #E5E5E5;
                       box-shadow: 0px 4px 20px rgba(26, 24, 30, 0.16);
                       width: 40px;
                       height: 40px;
                       opacity: 1" type="button" aria-label="Next slide" aria-controls="splide-top-card-track">
                    <svg width="25" height="14" viewBox="0 0 25 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M24 7C24 7.55229 23.5523 8 23 8L1 8C0.447716 8 -1.44847e-07 7.55228 0 7C1.44847e-07 6.44771 0.447716 6 1 6L23 6C23.5523 6 24 6.44772 24 7Z"
                            fill="#1A181E" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M16.7939 13.7071C17.1844 14.0976 17.8176 14.0976 18.2081 13.7071L24.2081 7.70711C24.5986 7.31658 24.5986 6.68342 24.2081 6.29289L18.2081 0.292893C17.8176 -0.0976309 17.1844 -0.0976311 16.7939 0.292893C16.4033 0.683418 16.4033 1.31658 16.7939 1.70711L22.0868 7L16.7939 12.2929C16.4033 12.6834 16.4033 13.3166 16.7939 13.7071Z"
                            fill="#1A181E" />
                    </svg>
                </button>
            </div>
            <div class="splide__track">
                <ul class="splide__list">
                    {% for banner in DUKAAN_WEB_BANNERS %}
                    <li class="splide__slide">
                        {% if banner.url %}<a href="{{ banner.url or '#' }}"
                            target="{{ banner.url | getTargetForBannerLinks(DUKAAN_CURRENT_PAGE_HOST) }}">{% endif %}
                            <div class="image-wrapper d-flex align-items-center">
                                <img src="{{ banner.image | cdn(1440) }}" class="w-100 h-auto"
                                    alt="desktop banner" />
                            </div>
                            {% if banner.url %}
                        </a>{% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
</section>
{% endif %}

<!-- Mobile Hero Banners -->
{% if DUKAAN_MOBILE_BANNERS.length %}
<section>
    <div class="top-banner-section d-lg-none">
        <section id="hero-splide-mobile" class="splide">
            <div class="splide__arrows splide__arrows--ltr">
                <button class="splide__arrow bg-white px-12-0 py-3 splide__arrow--prev" style="border-radius: 50%;
                       border: 1px solid #E5E5E5;
                       box-shadow: 0px 4px 20px rgba(26, 24, 30, 0.16);
                       width: 32px;
                       height: 32px;
                       opacity: 1" type="button" aria-label="Previous slide" aria-controls="splide-top-card-track">
                    <svg width="25" height="14" viewBox="0 0 25 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M24 7C24 7.55229 23.5523 8 23 8L1 8C0.447716 8 -1.44847e-07 7.55228 0 7C1.44847e-07 6.44771 0.447716 6 1 6L23 6C23.5523 6 24 6.44772 24 7Z"
                            fill="#1A181E" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M16.7939 13.7071C17.1844 14.0976 17.8176 14.0976 18.2081 13.7071L24.2081 7.70711C24.5986 7.31658 24.5986 6.68342 24.2081 6.29289L18.2081 0.292893C17.8176 -0.0976309 17.1844 -0.0976311 16.7939 0.292893C16.4033 0.683418 16.4033 1.31658 16.7939 1.70711L22.0868 7L16.7939 12.2929C16.4033 12.6834 16.4033 13.3166 16.7939 13.7071Z"
                            fill="#1A181E" />
                    </svg>
                </button>
                <button class="splide__arrow bg-white px-12-0 py-3 splide__arrow--next" style="border-radius: 50%;
                       border: 1px solid #E5E5E5;
                       box-shadow: 0px 4px 20px rgba(26, 24, 30, 0.16);
                       width: 32px;
                       height: 32px;
                       opacity: 1" type="button" aria-label="Next slide" aria-controls="splide-top-card-track">
                    <svg width="25" height="14" viewBox="0 0 25 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M24 7C24 7.55229 23.5523 8 23 8L1 8C0.447716 8 -1.44847e-07 7.55228 0 7C1.44847e-07 6.44771 0.447716 6 1 6L23 6C23.5523 6 24 6.44772 24 7Z"
                            fill="#1A181E" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M16.7939 13.7071C17.1844 14.0976 17.8176 14.0976 18.2081 13.7071L24.2081 7.70711C24.5986 7.31658 24.5986 6.68342 24.2081 6.29289L18.2081 0.292893C17.8176 -0.0976309 17.1844 -0.0976311 16.7939 0.292893C16.4033 0.683418 16.4033 1.31658 16.7939 1.70711L22.0868 7L16.7939 12.2929C16.4033 12.6834 16.4033 13.3166 16.7939 13.7071Z"
                            fill="#1A181E" />
                    </svg>
                </button>
            </div>
            <div class="splide__track">
                <ul class="splide__list">
                    {% for banner in DUKAAN_MOBILE_BANNERS %}
                    <li class="splide__slide">
                        {% if banner.url %}<a href="{{ banner.url or '#' }}"
                            target="{{ banner.url | getTargetForBannerLinks(DUKAAN_CURRENT_PAGE_HOST) }}">{% endif %}
                            <div class="image-wrapper d-flex align-items-center">
                                <img src="{{ banner.image | cdn(800) }}" class="" alt="mobile banner" />
                            </div>
                            {% if banner.url %}
                        </a>{% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
</section>
{% endif %}
